{{ attach_library('localist_drupal/settings') }}
<h2>Preflight Check</h2>

<ul class="localist-status">
  <li>
    {% if endpoint_status %}
      {% include svg_check %}
      Localist endpoint is returning data.
    {% else %}
      {% include svg_xmark %}
      Localist endpoint is not returning data. Check the endpoint URL and save configuration.
    {% endif %}
  </li>

  <li>
    {% if group_migration_status %}
      {% include svg_check %}
      Group migration YML exists.
    {% else %}
      {% include svg_xmark %}
      Group migration YML does not appear to exist. See the README.md for how to create a group migration. Default migration is <code>localist_groups</code>
    {% endif %}
  </li>

  {% set vocabs %}
    {% for vocab in group_taxonomy_status %}
      {{ vocab }}
      {{- not loop.last ? ',' -}}
    {% endfor %}
  {% endset %}

  <li>
    {% if group_taxonomy_status %}
      {% include svg_check %}
      Localist group vocabulary and group ID field exist.
    {% else %}
      {% include svg_xmark %}
      Localist group vocabulary with machine name <code>localist_groups</code> must exist and must include a field with machine name <code>field_localist_group_id</code>.
    {% endif %}
  </li>

  <li>
  {% if group_migration_status %}
    {% if group_migration_status.imported > 0 %}
      {% include svg_check %}
      {{ group_migration_status.imported }} Localist groups imported. Last new data: {{ group_migration_status.last_imported }}.
    {% else %}
      {% include svg_xmark %}
      Localist groups have not been imported. Click "Create Groups" to import groups.
    {% endif %}
  {% else %}
    {% include svg_xmark %}
    Localist groups have not been imported. Check the group migration first.
  {% endif %}
  </li>

  <li>
    {% if group_selected %}
      {% include svg_check %}
      Localist group selected.
    {% else %}
      {% include svg_xmark %}
      Localist group has not been selected. Please select one and save configuration.
    {% endif %}

  </li>
</ul>
